header{
    text-align:center;
    width:100%;
    background-color: #7AFF7E;
    border-radius: 10px;
}
.column-1{
    width:48%;
    display:inline-block;
    float:left;
    border: 1px solid black;
}
.column-2{
    width:48%;
    display:inline-block;
    float:right;
    border: 1px solid black;
}
footer{
     width:100%;
     text-align:center;
     position:relative;
     top:1em;
     background-color: #7AFF7E;
     border-radius: 10px;
}
div {
  clear:both;
}
body {
  background-color:green;
}

.column-1 h2 {
  color: red;
}
a:visited {

}

